header, footer {
background-color: rgb(0, 0, 191);
color: white;
padding: 10px;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

}

.botoes button {
    background-color: #13134b;
    color: white;
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
}

.botoes button:hover {
    background-color: #ef6205;
}

.cards, .lista {
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: 20px;
    font-size: 15px;
}