.lista {
    width: 1350px;
}

table, tr {
    border-collapse: collapse;
}

th {
    background-color: #ef6205;
    color: #FFF;
    text-align: left;
  
}

tr {
    color: #383737;
}

th, td {
    padding: 10px;
}

table {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: #e1e1e1;
}

table tr:hover {
    background-color: #1c076e;
    color: #FFF;
}

.bg-green {
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.bg-red {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}