.lista {
    width: 800px;
}

table, tr {
    border-collapse: collapse;
}

th {
    background-color: darkorange;
    color: white;
    text-align: left;
}

td {
    color: #464646;
}

th, td {
    padding: 10px;
}

table {
    width: 100%;
}

table tr:nth-child(odd) {
    background-color: #e1e1e1;
}

table tr:hover {
    background-color: #1c076e;
    color: white;
}

